* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, Fira Sans, sans-serif;
}


:root {
  --background: #0F1525;
  --black: #000000;
  --dark-gray: #121214;
  --white: #FFF;
  --faded-white: #d5d5dd;
  --yellow: #f2a949;
  --orange: #FF5200;

  --breakpoint-mobile: 425px;
}

body {
  background: #0d0d0d;
  color: var(--dark-gray);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #0d0d0d;
}

main {
  background-image: url("../assets/unsplash-normal.jpg");
  background-size: cover;

  min-width: 425px;
  height: 100vh;
}

@media(min-width: 450px) {
  main {
    margin-left: 8rem;
  }
}

