.firstSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 8%;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 0 32px;
  
  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 16px 68px 0 68px;
  }
}

.sectionHeader {
  color: var(--white);
  font-size: 38px;
}